@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

.title{
  font-size: 42px;
  color:#fff1e0;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}

.controls {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 8px;
  left: 5px;
  width: 490px;
  padding: 4px 4px;
  border-radius: 4px;
  background: rgba(30, 30, 30, .75);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
