@import url('https://fonts.googleapis.com/css?family=Lato');

.fBJgyH {
opacity: 1;
}


.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff1e0;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#opening-introduction{
  z-index: 8;
  overflow: auto;
  max-width: 580px;
  background:#2e496c;
  font-family: 'Lato', sans-serif;
  color: #fff1e0;
}

.img-opening{
  display: inherit;
  margin: auto;
  margin-top: 25px;
}

.div-para{
background:#2e496c;
margin: auto;
margin: 20px;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
color: #2e496c;
padding: 79px;
}

.border{
  border: 20px solid #fff1e0;
  min-height: 100%;
}


@media screen and (max-width: 640px) {

  #opening-introduction{
    z-index: 8;
    width:100%;
  }

}
